ifm3dpy==1.4.3
ovp_docker_utils == 1.0.9
colorama == 0.4.6

# Some additional viable dev dependencies of possible interest
# canopen
# dataclasses
# opencv-python
# numpy
# pycomm3
# bitstring
# requests
# fastapi
# uvicorn
# pydantic
# matplotlib

# torch
# torchvision
# torchaudio
# --index-url https://download.pytorch.org/whl/cpu
# --extra-index-url https://pypi.python.org/simple/